{% extends 'base.html' %}

{% block title %}
Logis Bootstrap Template - Register
{% endblock %}

{% block content %}

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('/static/img/page-header.jpg');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Register Page</h2>
              <p>Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Register Page</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
      <div class="container" data-aos="fade-up">
          <form method="post" novalidate>
              {% csrf_token %}
              <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" name="username" value="">
                  {{ form.username.errors }}
              </div>
              <div class="form-group">
                  <label for="first_name">First Name</label>
                  <input type="text" class="form-control" id="first_name" name="first_name" value="">
                  {{ form.first_name.errors }}
              </div>
              <div class="form-group">
                  <label for="last_name">Last Name</label>
                  <input type="text" class="form-control" id="last_name" name="last_name" value="">
                  {{ form.last_name.errors }}
              </div>
              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" name="email" value="">
                  {{ form.email.errors }}
              </div>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password">
                  {{ form.password.errors }}
              </div>
              <div class="form-group">
                  <label for="confirm_password">Confirm Password</label>
                  <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                  {{ form.confirm_password.errors }}
              </div>
              <button type="submit" class="btn btn-primary">Register</button>
          </form>
          
          <!-- Повідомлення про успішну реєстрацію та про помилки -->
          {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                      <li class="{{ message.tags }}">{{ message }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
          
      </div>
  </section>
  
  
  </main><!-- End #main -->

{% endblock %}
